{% load i18n %}
<ul class="flex items-center text-xs sm:text-sm font-medium h-full align-baseline ">

    <li class="nav_link truncate "><a href="{% url "restaurants:channels" %}">{% trans 'Channel lists' %}</a></li>
    {% if user.is_authenticated %}
        <li class="nav_link mr-1 sm:mr-2 truncate">
            <a href="{% url "lists:see-favs" %}">{% trans 'Favorite' %}
                {% if user.list.restaurants.count > 0 %}
                    <span class="ml-0 sm:ml-1 px-2 py-1 rounded-xl bg-teal-500 text-white">{{user.list.restaurants.count}}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="{{user.get_absolute_url}}">            
                <div class="flex flex-row items-center border-gray-200 border shadow rounded-xl p-2 hover:shadow-lg -mr-2">
                    <span class="mr-2 truncate">{{user.nickname}}</span>
                    {% if user.avatar %}
                        <div class="h-6 sm:h-8 w-6 sm:w-8 rounded-full bg-cover" style="background-image: url({{user.avatar.url}})">
                    {% else %}
                        <div class="h-6 sm:h-8 w-6 sm:w-8 bg-gray-700 rounded-full flex justify-center items-center">
                            <span class="text-lg font-medium text-white">{{user.nickname|first}}</span>     
                    {% endif %}
                    </div>
                </div>
            </a>
        </li>
        
    {% else %}
        <li class="nav_link mr-2 truncate"><a href="{% url "users:login" %}">{% trans 'Log in' %}</a></li>
        <li class="nav_link hover:bg-white border hover:shadow-lg shadow rounded-xl truncate -mr-2"><a href="{% url "users:signup" %}">{% trans 'Sign up' %}</a></li>

    {% endif %}
</ul>


