{% load static i18n %}
<script>
    var restaurants_string = `{% for restaurant in restaurants.object_list %}` 
                           + `{"id":{{restaurant.id}},"title":"{{restaurant.title}}","x":{{restaurant.x}},"y":{{restaurant.y}},"address":"{{restaurant.address}}","phone_number":"{{restaurant.phone_number}}","category":"{% for category in restaurant.category.all %}{{category}},{% endfor %}"},`
                           + `{% endfor %}`
    var restaurants_json = `[` + restaurants_string.slice(0,-1) + ']'
    restaurants = JSON.parse(restaurants_json)
    var icon_src = `{% static "img/marker.png" %}`
    var markerImage = new kakao.maps.MarkerImage(icon_src, new kakao.maps.Size(31, 35))

    var mapContainer = document.getElementById('map'),
        mapOption = { 
            center: new kakao.maps.LatLng(restaurants[0].y, restaurants[0].x),
            level: 7
        };
    
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var bounds = new kakao.maps.LatLngBounds();

    for (var i = 0; i < restaurants.length; i ++) {
        // 마커를 생성합니다
        var id = restaurants[i].id
        var title = restaurants[i].title
        var address = restaurants[i].address
        var phone_number = restaurants[i].phone_number
        var category = restaurants[i].category.slice(0,-1)
        
        var latlng = new kakao.maps.LatLng(restaurants[i].y, restaurants[i].x)
        var content = `<div class="h-20 w-48 bg-red-100 rounded-lg">`
                    + `     <a href="https://amatna.net/restaurants/${id}">`
                    + `         <div class="arrow_box flex flex-col px-2 py-2">`
                    + `             <div class="text-sm border-b border-gray-600 pb-1 text-red-500 font-normal w-full mb-1 truncate">${i+1}. ${title} <span class="text-xs font-normal text-gray-600 text-center "> | ${category} </div>`
                    + `             <span class="text-xs truncate">${address}</span>`
                    + `             <span class="text-xs">${phone_number}</span>`
                    + `         </div>`
                    + `     </a>`
                    + `</div>`
        var marker = new kakao.maps.Marker({
            map: map,
            position: latlng,
            image : markerImage,
            clickable: true
        });
        bounds.extend(latlng);
        kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, content, latlng));
        kakao.maps.event.addListener(marker, 'mouseover', makeMouseOverListener(map, marker, content, latlng));
    }    

    var customOverlay = new kakao.maps.CustomOverlay({
        content: content,
        position: latlng,
        xAnchor: 0.5,
        yAnchor: 1.7
    });

    function makeMouseOverListener(map, marker, content=content, position=latlng) {
        return function() {
            customOverlay.setPosition(position)
            customOverlay.setContent(content)
            customOverlay.setMap(map, marker);
        };
    }    

    function makeClickListener(map, marker, content=content, position=latlng) {
        return function() {
            customOverlay.setPosition(position)
            customOverlay.setContent(content)
            customOverlay.setMap(map, marker);
        };
    }    

    function setBounds() {
        map.setBounds(bounds);
    }

    function getLocation(){
        if (navigator.geolocation) {
    
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {
                
                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도

                var locPosition = new kakao.maps.LatLng(lat, lon) // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                getLocationMarker(locPosition)
            });
            
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
            alert("아!맛나 : 위치를 가져 올 수 없는 브라우저 입니다.")
        }
        
    }

    function getLocationMarker(locPosition){
        var map_pin_src = `{% static "img/map_pin.png" %}`
        var content = `<div class="font-normal text-sm px-2 py-1 bg-gray-100 rounded-lg">{% trans 'My Location' %}`
                    + `</div>`        
        var mapPinImage = new kakao.maps.MarkerImage(map_pin_src, new kakao.maps.Size(30, 30))
        var marker = new kakao.maps.Marker({
            map: map,
            position: locPosition,
            image: mapPinImage,
        })

        var customOverlay = new kakao.maps.CustomOverlay({
            content: content,
            position: locPosition,
            xAnchor: 0.5,
            yAnchor: 2.0
        });

        customOverlay.setMap(map);
        map.setCenter(locPosition);    
        map.setLevel(6);
    }
</script>