<div class="w-1/2 lg:w-1/4 mb-0 p-4">
    
    <div class="bg-white rounded-xl shadow-2xl">
        <a href="{% url "restaurants:detail" restaurant.pk %}" class="flex flex-col pb-12 justify-center items-center">   
            {% for y in restaurant.youtube.all %}
                <iframe 
                id="ytplayer" 
                type="text/html" 
                width="300" 
                height="200"
                src="https://www.youtube.com/embed/{{y.video_id}}?autoplay=1?modestbranding=1"
                frameborder="0"
                class=" rounded-t-xl w-full mb-8"
                ></iframe>
                <div class="text-base text-gray-800 w-5/6">{{y.name}}</div>
            {% endfor %}
            
            <span class="font-bold text-2xl text-gray-800 p-6 mb-4">{{restaurant.title}}</span> 

            {% include 'mixins/tag.html' with restaurant=restaurant %}
        </a>   
    </div>
</div>
