<div class="w-1/2 md:w-1/4 mb-0 p-3 md:p-4">
    
    <div class="bg-white rounded-xl shadow-2xl">
        <a href="{% url "restaurants:detail" restaurant.pk %}" class="flex flex-col pb-6 md:pb-12 justify-center items-center hover:opacity-75">   
            <iframe 
                id="ytplayer" 
                type="text/html" 
                width="300" 
                height="200"
                src="https://www.youtube.com/embed/{{youtube.video_id}}?autoplay=1?modestbranding=1"
                frameborder="0"
                class=" rounded-t-xl w-full mb-4 md:mb-8 h-32 lg:h-25vh"
            ></iframe>
            <div class="text-sm md:text-base text-gray-800 w-5/6">{{youtube.name}}</div>
            
            <span class="font-bold text-lg md:text-2xl text-gray-800 p-3 md:p-6 mb-2 md:mb-4">{{restaurant.title}}
            </span> 
            
            <div class="w-11/12">
                {% include 'mixins/tag.html' with restaurant=restaurant %}
            </div>
        </a>   
    </div>
</div>
