{% extends 'base.html' %}
{% load i18n static %}
{% block page_title %}{{user.nickname}}{% trans ' Favorite list' %} {% endblock page_title %}
{% block page_description %}TV 방영 맛집, 먹방 또는 맛집탐방 크리에이터가 다녀온 음식점들을 모아 맛집 지도를 만들어 드리는 아!맛나. 댓글 알바, 맛집 광고 nono! 크리에이터의 생생한 영상으로 맛집을 찾아보세요.{% endblock page_description %}
{% block page_subject %}{{user.nickname}}님이 저장한 맛집 리스트 입니다.{% endblock page_subject %}
{% block page_keywords %}이태원맛집,홍대맛집,강남역맛집,가로수길맛집,신촌맛집,명동맛집,대학로맛집,연남동맛집,부산맛집,합정맛집,대구맛집,여의도맛집,건대맛집,광화문맛집,일산맛집,제주맛집,경리단길맛집,한남동맛집,삼청동맛집,대전맛집,종로맛집,서촌맛집,
잠실맛집,사당역맛집,인천맛집,코엑스맛집,상수맛집,서래마을맛집,송도맛집,왕십리맛집,분당맛집,혜화맛집,고속터미널맛집,맛집지도{% endblock page_keywords %}    
{% block page_og_url %}{% endblock page_og_url %}
{% block page_og_title %}{% trans 'ENJOY your meal in Korea with Amatna' %} {% endblock page_og_title %}
{% block page_og_description %}TV 방영 맛집, 먹방 또는 맛집탐방 크리에이터가 다녀온 음식점들을 모아 맛집 지도를 만들어 드리는 아!맛나. 댓글 알바, 맛집 광고 nono! 크리에이터의 생생한 영상으로 맛집을 찾아보세요.{% endblock page_og_description %}
{% block page_og_image %}static/img/logo_square.png{% endblock page_og_image %}

{% block content %}

    <div class="min-h-75vh">    
        <div class="container mx-auto pb-10">
            <div class="bg-gray-100 sm:-mt-4 -mt-8 w-full">
                <div class=" py-12 mb-10 flex flex-col">
                  <span class="article_title">{% trans 'Your Favorite Restaurants' %}</span>
                  <span class="article_description">{% trans 'Add and manage your list of favorite restaurants.' %}</span>
                </div>      
            </div>
            {% if user.list.restaurants.count > 0 %}
                <div class="text-base sm:text-xl py-10 ml-5 font-normal">
                    {% blocktrans with total_count=user.list.restaurants.count %}You have {{total_count}} restaurant(s) of favorite in total.{% endblocktrans %}
                </div>
                <div class="flex flex-wrap mb-10">
                    {% for restaurant in user.list.restaurants.all %}
                        {% include 'mixins/restaurant_card.html' with restaurant=restaurant youtube=restaurant.youtube.all|first %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="py-10 flex justify-center px-5">
                    <div class="text-xl text-gray-700 flex flex-col my-10">
                        <span class="article_title ml-0">{% trans 'Is not there restaurant on your list of favorite yet?' %}</span>
                        <span class="article_description ml-0">{% trans 'We will try to introduce more restaurants that you want to go to.' %}</span>
                        <span class="article_description ml-0">{% trans 'Restaurant on my favorite Korea TV show' %}</span>
                        <div class="flex flex-row items-center article_description ml-0"><img src="{% static 'img/logo.png' %}" class="h-8 sm:h-12 mr-2">{% trans 'check it out in amatna.' %}</div>
                    </div>
                </div>
                <div class="bg-gray-100 rounded-lg px-6 py-6 my-20">
                    <div class="p-1 rounded-t-lg w-11/12 lg:w-3/5 align-middle mb-10">
                        <span class="article_title ml-0">{% trans 'Search with category' %}<br></span>
                        <span class="article_description ml-0">{% trans 'Search for the menu you want to eat.' %}</span>
                    </div>
                    {% for c in all_categories %}
                        {% include 'mixins/categories.html' %}
                    {% endfor %}
                </div>
            {% endif %}

            {% include 'partials/adsense_horizontal.html' %}

        </div>
    </div>




{% endblock content %} 