{% extends 'base.html' %}
{% load i18n static %}
{% block page_title %}

    {{user.nickname}}{% trans ' Favorite list' %}

{% endblock page_title %}


{% block content %}

    <div class="min-h-75vh">    
        <div class="container mx-auto pb-10">
            <div class="bg-gray-100  w-full rounded-lg">
                <div class=" py-12 mb-10 flex flex-col">
                  <span class="article_title">{% trans 'Your Favorite Restaurants' %}</span>
                  <span class="article_description">{% trans 'Add and manage your list of favorite restaurants.' %}</span>
                </div>      
            </div>
            {% if user.list.restaurants.count > 0 %}
                <div class="text-base sm:text-xl py-10 ml-5 font-normal">
                    {% blocktrans with total_count=user.list.restaurants.count %}You have {{total_count}} restaurant(s) of favorite in total.{% endblocktrans %}
                </div>
                <div class="flex flex-wrap mb-10">
                    {% for restaurant in user.list.restaurants.all %}
                        {% include 'mixins/restaurant_card.html' with restaurant=restaurant youtube=restaurant.youtube.all|first %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="py-10 flex justify-center px-5">
                    <div class="text-xl text-gray-700 flex flex-col my-10">
                        <span class="article_title ml-0">{% trans 'Is not there restaurant on your list of favorite yet?' %}</span>
                        <span class="article_description ml-0">{% trans 'We will try to introduce more restaurants that you want to go to.' %}</span>
                        <span class="article_description ml-0">{% trans 'Restaurant on my favorite Korea TV show' %}</span>
                        <div class="flex flex-row items-center article_description ml-0"><img src="{% static 'img/logo.png' %}" class="h-8 sm:h-12 mr-2">{% trans 'check it out in amatna.' %}</div>
                    </div>
                </div>
                <div class="bg-gray-100 rounded-lg px-6 py-6 my-20">
                    <div class="p-1 rounded-t-lg w-11/12 lg:w-3/5 align-middle mb-10">
                        <span class="article_title ml-0">{% trans 'Search with category' %}<br></span>
                        <span class="article_description ml-0">{% trans 'Search for the menu you want to eat.' %}</span>
                    </div>
                    {% for c in all_categories %}
                        {% include 'mixins/categories.html' %}
                    {% endfor %}
                </div>
            {% endif %}

            {% include 'partials/adsense_horizontal.html' %}

        </div>
    </div>




{% endblock content %} 