@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.article_title {
  @apply font-bold text-lg text-red-500 ml-8 mb-2;
}

.article_sub {
  @apply font-normal text-base text-teal-500 ml-8 mb-1;
}

.article_description {
  @apply text-base text-gray-800 ml-8;
}

.tag {
  @apply bg-teal-400 rounded-full font-normal text-xs text-white px-2 py-1 ml-1 mb-2;
  button {
    @apply bg-teal-400 rounded-full font-normal text-xs text-white px-2 py-1 ml-1 mb-2;
  }
  &:hover {
    @apply opacity-50;
  }
}

@screen sm {
  .article_title {
    @apply text-2xl;
  }
  .article_sub {
    @apply text-xl;
  }
  .article_description {
    @apply text-xl;
  }
  .tag {
    @apply font-medium text-sm px-4 py-2;
    button {
      @apply font-medium text-sm px-4 py-2;
    }
  }
}

.nav_link {
  @apply ml-0 flex items-center text-black font-medium;
  a {
    @apply py-3 px-4;
  }
  &:hover {
    @apply bg-gray-100 rounded-xl;
  }
}

.btn {
  @apply text-center rounded-sm py-5 font-light text-lg w-full;
}

.btn-link {
  @apply bg-red-500 text-white py-3 rounded-lg text-center font-light text-lg w-full;
}

.border-section {
  @apply border-b border-gray-400 pb-8 mt-8;
}

.table-title {
  @apply border-b border-r w-1/4 py-4 text-center text-red-500 text-lg font-medium;
}

.table-description {
  @apply border-b px-6 py-4 text-lg text-gray-700 font-normal;
}

input,
textarea,
select {
  @apply rounded-sm py-5 font-light text-lg w-full text-left border-2 border-gray-400 px-5;
}

textarea {
  resize: none;
  height: 100px;
}

select {
  height: 50px;
}

form {
  .input {
    @apply mb-3 w-full;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-400;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(50px);
  }
  95% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}

@tailwind utilities;
