@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-0 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-10 px-3;
  }
  &:hover {
    @apply border-gray-600;
  }
}
@screen lg {
  .nav_link {
    @apply px-5;
  }
}

.tag {
  @apply bg-teal-400 rounded-full font-medium text-sm text-white px-4 py-2 ml-1 mb-2;
  button {
    @apply bg-teal-400 rounded-full font-medium text-sm text-white px-4 py-2 ml-1 mb-2;
  }
}

@tailwind utilities;
