
{% extends 'base.html' %} 
{% load i18n %} 
{% block page_title %} 
  {% trans 'Channel list' %}
{% endblock page_title %} 

{% block content %} 
    <div class="container mx-auto">

        {% include 'restaurants/channel_list.html' %}
        
    </div>

    <div class="flex item-center justify-center font-medium text-base sm:text-lg mb-20"> 

        {% if channels.has_previous %}
        <a href="?page={{channels.number|add:-1}}" class="text-teal-500">
            <i class="fas fa-arrow-left fa-lg"></i>
        </a>
        {% endif %}
        
        <span class="mx-3">
        {% blocktrans with current_page=channels.number total_pages=channels.paginator.num_pages %}Page {{current_page}} of {{total_pages}}{% endblocktrans %}
        </span>

        {% if channels.has_next %}
        <a href="?page={{channels.number|add:1}}" class="text-teal-500">
            <i class="fas fa-arrow-right fa-lg"></i>
        </a>
        {% endif %}
        
    </div>

    {% include 'partials/adsense_horizontal.html' %}
      
{% endblock content %}