{% extends 'base.html' %} 
{% load i18n %} 
{% block page_title %} 
  {% trans 'ENJOY your meal in Korea with Amatna' %}
{% endblock page_title %} 

{% block content %} 
  <div class="container mx-auto pb-10">

    <div class="bg-gray-100 -mt-4 w-full">
      <div class=" pt-12 mb-10 flex flex-col">
        <span class="font-bold text-2xl text-red-500 ml-8 mb-2">{% trans 'DO NOT pay your time for searching restaurant in Korea' %}</span>
        <span class="text-xl text-gray-800 ml-8">{% trans 'HOT PLACE in Korea assembled' %}</span>
      </div> 

      {% include 'restaurants/channel_list.html' %}

      <div class="w-full pb-12">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- amatna_horizontal -->
        <ins class="adsbygoogle"
            style="display:inline-block;width:728px;height:90px"
            data-ad-client="ca-pub-3931834768948104"
            data-ad-slot="9354540521"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>


    <div class="w-full pt-10">
      <div class=" pt-12 mb-10 flex flex-col">
        <span class="font-bold text-2xl text-red-500 ml-8 mb-2">{% trans 'Last Updated Restaurants' %}</span>
        <span class="font-normal text-xl text-teal-500 ml-8 mb-1">{% trans 'Videos is better than reviews' %}</span>
        <span class="text-lg text-gray-800 ml-8">{% trans 'Do not search reviews' %}</span>
        <span class="text-lg text-gray-800 ml-8">{% trans 'Watch mukbang in Korean Creators' %}</span>
      </div> 

      {% include 'restaurants/restaurant_list.html' %}
      
    </div>      
  </div>
{% endblock content %}
