{% extends 'base.html' %} 
{% load i18n %} 
{% block page_title %} 
  {% trans 'ENJOY your meal in Korea with Amatna' %}
{% endblock page_title %} 

{% block content %} 
  <div class="container mx-auto pb-10">

    <div class="bg-gray-100 -mt-4 w-full">
      <div class=" pt-12 mb-10 flex flex-col">
        <span class="font-bold text-2xl text-red-500 ml-8 mb-2">{% trans 'DO NOT pay your time for searching restaurant in Korea' %}</span>
        <span class="text-xl text-gray-800 ml-8">{% trans 'HOT PLACE in Korea assembled' %}</span>
      </div> 

      {% include 'restaurants/channel_list.html' %}
      
    </div>

    
    <div class="w-full pt-10">
      <div class=" pt-12 mb-10 flex flex-col">
        <span class="font-bold text-2xl text-red-500 ml-8 mb-2">{% trans 'Last Updated Restaurants' %}</span>
        <span class="font-normal text-xl text-teal-500 ml-8 mb-1">{% trans 'Videos is better than reviews' %}</span>
        <span class="text-lg text-gray-800 ml-8">{% trans 'Do not search reviews' %}</span>
        <span class="text-lg text-gray-800 ml-8">{% trans 'Watch mukbang in Korean Creators' %}</span>
      </div> 

      {% include 'restaurants/restaurant_list.html' %}
      
    </div>      


    <div class="bg-gray-100 rounded-lg px-6 py-6 my-20">
      <div class="p-1 rounded-t-lg w-11/12 lg:w-3/5 align-middle mb-10">
          <span class="px-4 pb-2 -ml-4 text-2xl block font-bold truncate text-red-500">{% trans 'Search with category' %}</span>
          <span class="text-lg text-gray-800">{% trans 'Search for the menu you want to eat.' %}</span>
      </div>
      {% for c in all_categories %}
        {% include 'mixins/categories.html' %}
      {% endfor %}
    </div>

  </div>
{% endblock content %}
