{% extends 'base.html' %} 
{% load i18n %} 
{% block page_title %} 
  {% trans 'ENJOY your meal in Korea with Amatna' %}
{% endblock page_title %} 

{% block content %} 
  <div class="container mx-auto pb-10">

    <div class="flex sm:hidden w-full justify-center -mt-4">
      <div class="w-11/12 mb-12">
        {% include 'partials/search_bar.html' %}
      </div>
    </div>

    {% include 'restaurants/channel_list.html' %}

    {% include 'partials/adsense_horizontal.html' %}


    
    <div class="w-full pt-10">
      <div class=" pt-12 mb-10 flex flex-col w-11/12">
        <span class="article_title">{% trans 'Last Updated Restaurants' %}</span>
        <span class="article_sub">{% trans 'Videos is better than reviews' %}</span>
        <span class="article_description">{% trans 'Do not search reviews' %}</span>
        <span class="article_description">{% trans 'Watch mukbang in Korean Creators' %}</span>
      </div> 

      {% include 'restaurants/restaurant_list.html' %}

      
    </div>      


    <div class="bg-gray-100 sm:rounded-lg py-6 my-20">
      <div class="py-1 sm:w-3/5 align-middle mb-10">
          <span class="article_title">{% trans 'Search with category' %}<br></span>
          <span class="article_description">{% trans 'Search for the menu you want to eat.' %}</span>
      </div>
      <div class="px-6">
        {% for c in all_categories %}
          {% include 'mixins/categories.html' %}
        {% endfor %}
      </div>
      
    </div>

    {% include 'partials/adsense_horizontal.html' %}

  </div>
{% endblock content %}
