{% extends 'base.html' %}
{% load i18n static on_favs %}
{% block page_title %}
    {{restaurant.title}}
{% endblock page_title %}


{% block content %}

    
    <div class=" w-full mb-20 flex flex-col items-center justify-center -mt-4 sm:mt-0">
        <div class="flex flex-row bg-gray-200 p-3 sm:p-5 rounded-t-lg items-center w-11/12 lg:w-3/5 justify-between">
            <div class="text-xl sm:text-3xl font-normal text-gray-700">{{restaurant.title}}</div>

            {% if user.is_authenticated %}
                {% on_favs restaurant as on_favs_boolean %}            
                {% if on_favs_boolean %}
                    <a href="{% url 'lists:toggle-restaurant' restaurant.pk %}?action=remove">
                        <img class="sm:h-8 h-6 hover:opacity-75" src="{% static 'img/heart_filled.png'%}">
                    </a>
                {% else %}
                    <a href="{% url 'lists:toggle-restaurant' restaurant.pk %}?action=add" class="flex flex-row items-center">
                        <span class="mr-2 text-blue-400 text-sm sm:text-basefont-normal hover:opacity-75">{% trans 'Add to favorite' %}</span><img class="sm:h-8 h-6 hover:opacity-75" src="{% static 'img/heart_unfilled.png'%}">
                    </a>
                {% endif %}
            {% else %}
                <a href="{% url 'users:login' %}" class="flex flex-row items-center" onclick="return confirm('로그인을 하시면 관심목록을 관리할 수 있습니다. 로그인 하시겠습니까?')">
                    <span class="mr-2 text-blue-400 text-sm sm:text-basefont-normal hover:opacity-75">{% trans 'Add to favorite' %}</span><img class="sm:h-8 h-6 hover:opacity-75" src="{% static 'img/heart_unfilled.png'%}">
                </a>
            {% endif %}

        </div>
        
        <div class="bg-gray-100 w-11/12 lg:w-3/5 justify-start mb-12 px-3 pt-3 sm:pt-5 pb-1 sm:pb-3 rounded-b-lg">
            {% include 'mixins/tag.html' with restaurant=restaurant %}
        </div>


        {% for y in restaurant.youtube.all %}
            <div class="flex flex-row  p-1 rounded-t-lg w-11/12 lg:w-3/5 align-middle items-center">
                <img src="{% static 'img/youtube_logo.png' %}" class="h-10 sm:h-16">
                <span class="p-4 -ml-3 font-normal text-sm sm:text-xl block truncate">{{y.name}}</span>
            </div>
            <div class="bg-red-200 p-3 sm:p-5 rounded-lg w-11/12 lg:w-3/5 mb-12">
                <iframe 
                id="ytplayer" 
                type="text/html"
                src="https://www.youtube.com/embed/{{y.video_id}}?autoplay=1?modestbranding=1"
                frameborder="0"
                class="w-full h-25vh lg:h-50vh rounded-lg"
                ></iframe>
            </div>
        {% endfor %}

        <div class="rounded-t-lg w-11/12 lg:w-3/5 align-middle mb-2 mt-6">
            <span class="p-4 bg-orange-100 rounded-lg font-normal text-base sm:text-xl block truncate">{% trans 'Information' %}</span>
        </div>     
        <table class="table-fixed w-11/12 lg:w-3/5">
            <tbody>
                <tr>
                    <td class="table-title border-t">{% trans 'Restaurant Name' %}</td>
                    <td class="table-description border-t font-bold">{{restaurant.title}}</td>
                  </tr>              
                  <tr>
                    <td class="table-title">{% trans 'instagram' %}</td>
                    <td class="table-description text-blue-500">
                        <a href="https://www.instagram.com/explore/tags/{{restaurant.title|cut:' '}}" target="_blank" class="items-center flex flex-row">
                            <img src="{% static 'img/instagram_logo.png' %}" class="sm:w-10 w-8 mr-2 sm:h-10 h-8" />
                            <span class="py-2">{% trans 'View posts in instagram' %}</span>
                        </a>                        
                    </td>
                  </tr>             
                  <tr>
                    <td class="table-title">{% trans 'naver' %}</td>
                    <td class="table-description text-blue-500">
                        <a href="https://store.naver.com/restaurants/detail?id={{restaurant.naver_place_id}}&tab=fsasReview" target="_blank" class="items-center flex flex-row">
                            <img src="{% static 'img/naver_logo.png' %}" class="sm:w-10 w-8 mr-2 sm:h-10 h-8" />
                            <span class="py-2">{{restaurant.blog_count}}</span>
                        </a>                        
                    </td>
                  </tr>             
                  <tr>
                    <td class="table-title">{% trans 'Address' %}</td>
                    <td class="table-description select-all">{{restaurant.address}}</td>
                  </tr>                  
                  <tr>
                    <td class="table-title">{% trans 'Phone number' %}</td>
                    <td class="flex flex-row table-description">{{restaurant.phone_number}}
                        <a href="tel:{{restaurant.phone_number}}" class="ml-3 px-2 font-gray-200 border-gray-400 border rounded-sm text-sm sm:text-lg">
                            <i class="fas fa-phone-alt mr-1"></i>{% trans 'Call' %}
                        </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-title">{% trans 'Category' %}</td>
                    <td class="table-description"> 
                        {% for c in restaurant.category.all %}                       
                            {% include 'mixins/categories.html' %}
                        {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td class="table-title">{% trans 'Price' %}</td>
                    <td class="table-description">{{restaurant.price}}</td>
                  </tr>
                  <tr>
                    <td class="table-title">{% trans 'Menu' %}</td>
                    <td class="table-description">{{restaurant.menu|linebreaks}}</td>
                  </tr>
                  <tr>
                    <td class="table-title">{% trans 'Business time' %}</td>
                    <td class="table-description">
                        {% if restaurant.holiday %}                            
                            {% if restaurant.biztime_24 %}
                                {% trans 'Open 24 hours' %}
                            {% else %}
                                {{restaurant.biztime_start}} ~ {{restaurant.biztime_end}}
                            {% endif %}                                
                        {% else %}
                            {% if restaurant.biztime_24 %}
                                {% trans '24/7' %}
                            {% else %}
                                {% trans 'Everydays' %} {{restaurant.biztime_start}} ~ {{restaurant.biztime_end}}
                            {% endif %}
                        {% endif %}
                        {% if restaurant.biztime_desc %}
                            <div class="text-gray-500">{{restaurant.biztime_desc}}</div>
                        {% endif %}
                    </td>
                  </tr>                  
                  {% if restaurant.breaktime %}
                    <tr>
                        <td class="table-title">{% trans 'Break time' %}</td>
                        <td class="table-description">{{restaurant.breaktime}}</td>
                    </tr>
                  {% endif %}                      
                  {% if restaurant.holiday %}
                    <tr>
                      <td class="table-title">{% trans 'Holiday' %}</td>
                      <td class="table-description">{{restaurant.holiday}}</td>
                    </tr>                       
                  {% endif %}                      
                  {% if restaurant.tv_list %}
                  <tr>
                    <td class="table-title">{% trans 'Broadcasting' %}</td>
                    <td class="table-description">{{restaurant.tv_list|linebreaks}}</td>
                  </tr>                       
                {% endif %}      
            </tbody>
        </table>
        <div class="w-11/12 lg:w-3/5 text-right text-gray-400 font-normal mb-20 mt-3 px-2 lg:text-base text-xs">
            {% trans 'Last Updated : ' %}{{restaurant.updated|date:'Y년 F j일'}}
        </div>

        <div class="w-11/12 lg:w-3/5 align-middle">
            <span class="p-4 bg-orange-100 rounded-t-lg font-normal text-base sm:text-xl block truncate">{% trans 'Location' %}</span>
        </div>     
        <iframe
            width=100%
            height="300"
            frameborder="0" 
            style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCMtGIi0z-RzyH__K5DmlU4sx3hUvYpr-4&q={{restaurant.title|cut:'&'}},{{restaurant.address}}"
            allowfullscreen
            class="rounded-b-lg w-11/12 lg:w-3/5 mb-12">
        </iframe>            

        {% include 'partials/adsense_horizontal.html' %}


        <div class="bg-gray-200 p-1 rounded-t-lg w-11/12 lg:w-3/5 align-middle">
            <span class="p-3 sm:p-4 font-normal text-base sm:text-xl block truncate">{% trans 'The channel that visited this restaurant.' %}</span>
        </div>        
        <div class="bg-gray-100 p-1 rounded-b-lg flex flex-wrap mx-0 mb-10 w-11/12 lg:w-3/5">
                {% for channel in restaurant.channel.all %}                    
                    {% include 'mixins/channel_card.html' with channel=channel %}
                {% endfor %}                    
        </div>


        <div class=" p-1 rounded-t-lg w-11/12 lg:w-3/5 align-middle">
            <span class="p-4 font-normal text-base sm:text-xl block truncate">{% trans 'A video of a visit to this restaurant' %}</span>
        </div>                
        <div class="w-11/12 lg:w-3/5 flex-wrap flex">           
            {% for y in restaurant.youtube.all %}                   
                <div class="flex p-2 flex-wrap w-1/2 lg:w-1/4 justify-center items-center">        
                    <iframe 
                        id="ytplayer" 
                        type="text/html" 
                        width="300" 
                        height="200"
                        src="https://www.youtube.com/embed/{{y.video_id}}?autoplay=1?modestbranding=1"
                        frameborder="0"
                        class=" rounded-t-xl w-full bg-white shadow-xl h-32 sm:h-25vh"
                    ></iframe>
                    <a href="https://www.youtube.com/watch?v={{y.video_id}}" target="_blank" class="text-gray-800 w-full bg-white rounded-b-xl shadow-2xl py-3 sm:py-8 px-3">
                        <span class="text-xs sm:text-base">{{y.name}}</span>
                        <div class="flex flex-row mt-1 sm:mt-3 items-center">                                
                            <img src="{% static 'img/youtube_logo.png' %}" class="-ml-1 h-8 sm:h-12">
                            <span class="p-3 -ml-2 text-red-600 font-medium text-xs sm:text-base">{% trans 'watch on youtube' %}</span>
                        </div>
                    </a>                        
                </div>
            {% endfor %}
        </div>
 

        {% include 'partials/adsense_horizontal.html' %}


        <div class="mt-32 w-11/12 lg:w-3/5">
            <div class="px-5 sm:px-10 my-3 bg-gray-100 rounded-lg">    
                <span class="font-medium text-base sm:text-2xl w-full block py-10 -mb-10">{% trans 'Please leave a comment.' %}</span>
                {% if user.is_authenticated %}
                    <form action="{% url 'reviews:create' restaurant.pk %}" method="POST" enctype="multipart/form-data" class="items-center flex flex-col sm:flex-row">
                            {% csrf_token %}
                            
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <span class="text-red-700 font-medium text-sm">{{error}}</span> 
                                {% endfor %}
                            {% endif %}                    
                            
                            {% for field in form %}                    
                                <div class="input sm:text-lg text-sm py-6 mt-3 {% if field.errors %}has_error{% endif %}">
                                    <div>
                                        {{field}}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <span class="text-red-700 font-medium text-sm">{{error}}</span> 
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>       
                            {% endfor %}
                                            
                            <div class="w-full sm:w-1/5 ml-0 sm:ml-5 pb-5 sm:pb-0 -mt-5 sm:mt-0">
                                <button class="btn-link py-3 sm:py-5 truncate">{% trans 'Comment' %}</button>
                            </div>
                    </form>
                {% else %}
                    <div class="flex flex-col sm:flex-row justify-end pb-10 pt-5 items-center">
                        <span class="text-sm sm:text-base">{% trans 'If you sign up or log in, you can leave a comment.' %}</span>
                        <div class="flex flex-row pt-3 sm:pt-0">
                            <a href="{% url 'users:login' %}" class="text-sm sm:text-base text-black font-normal ml-3 px-4 sm:py-3 py-2 rounded-xl border border-gray-200 shadow hover:shadow-xl" >{% trans 'Login' %}</a>
                            <a href="{% url 'users:signup' %}" class="text-sm sm:text-base text-black font-normal ml-3 px-4 sm:py-3 py-2 rounded-xl border border-gray-200 shadow hover:shadow-xl" >{% trans 'Sign up' %}</a>
                        </div>
                    </div>
                {% endif %}
    
            </div>
            
            {% if restaurant.comment %}
                <div class="flex flex-col sm:flex-row items-center py-10 ml-0 sm:ml-3">
                    <img src={% static "img/amatna_comment.png" %} class="w-48 sm:w-56 py-8 sm:py-1">
                    <div class="ml-0 sm:ml-5 text-lg sm:text-xl font-normal sm:w-full w-11/12">
                        <i class="fa fa-quote-left text-sm align-text-top"></i>
                            {{restaurant.comment}} 
                        <i class="fa fa-quote-right text-sm align-text-top"></i>
                    </div>
                </div>
            {% endif %}
                
            <div class="flex item-center px-3 mt-16">
                <div>
                    <span class="font-bold text-lg sm:text-xl">{{restaurant.reviews.count}}</span>
                    <span class="sm:text-base text-sm">comment{{restaurant.reviews.count|pluralize}}</span>
                </div>                   
            </div>
            <div class="mt-10 px-3">
                
                {% if restaurant.reviews.count > 0 %}
                    {% for review in restaurant.reviews.all %}
                        <div class="border-section">
                            <div class="mb-3 flex items-center">
                                
                                {% include 'mixins/user_avatar.html' with user=review.user h_and_w='sm:w-10 w-8 sm:h-10 h-8' text='text-xl' %}
                                
                                <div class="flex flex-col ml-5">
                                    <span class="font-medium sm:text-base text-sm">{{review.user.nickname}}</span>
                                    <span class="text-xs sm:text-sm text-gray-500">{{review.created|date:'Y년 F j일'}}</span>
                                </div>
                            </div>
                            <p class="sm:text-base text-sm">{{review.review}}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="border-section">
                        <div class="mb-3 flex flex-col">                            
                            <span class="">{% trans 'There is no comment' %}</span>
                            <span class="font-normal">{% trans 'Please leave a comment :)' %}</span>
                        </div>
                    </div>                
                {% endif %}
                    
                    
            </div>
        </div>
        
        {% include 'partials/adsense_horizontal.html' %}

    </div>

    

{% endblock %}