{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}

Search

{% endblock page_title %}


{% block search-bar %}    
{% endblock search-bar %}
    

{% block content %}


    {% if restaurants.object_list.count > 0 %}
        <div class="container mx-auto">        
            {% blocktrans with total_restaurants=restaurants.object_list.count %}We searched {{total_restaurants}} restaurant(s){% endblocktrans %}
            {% if tag %}
                <h4>Searching by {{tag}}</h4>
            {% elif channel %}
                <h1>{{channel}}</h1>
            {% elif category %}
                <h1>{{category}}</h1>
            {% endif %}
        </div>

        <div class="container mx-auto pb-10">
            <div class="flex flex-wrap mx-0 mb-10">
                {% for restaurant in restaurants.object_list %}
                    {% include 'mixins/restaurant_card.html' with restaurant=restaurant youtube=restaurant.youtube.all|first %}
                {% endfor %}
            </div>         
        </div>
        
        <div class="flex item-center justify-center font-medium text-lg mb-10"> 
        
            {% if restaurants.has_previous %}
            <a href="?page={{restaurants.number|add:-1}}" class="text-teal-500">
                <i class="fas fa-arrow-left fa-lg"></i>
            </a>
            {% endif %}
            
            <span class="mx-3">
            {% blocktrans with current_page=restaurants.number total_pages=restaurants.paginator.num_pages %}Page {{current_page}} of {{total_pages}}{% endblocktrans %}
            </span>
        
            {% if restaurants.has_next %}
            <a href="?page={{restaurants.number|add:1}}" class="text-teal-500">
                <i class="fas fa-arrow-right fa-lg"></i>
            </a>
            {% endif %}
            
        </div>

    {% else %}

    <h1>없어없어 다른 검색어로 찾아줘</h1>

    {% endif %}     
    


{% endblock content %}