{% load static i18n %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171519608-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-171519608-1');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google-site-verification" content="R1fGQ3KcyQVEz19Go1Yq69gCAKcmDwi1ed69NqNhqm0" />
    <meta name="naver-site-verification" content="eb9b5570e080cb2d82d296af8487451b5255c9f0" />
    <!-- meta tags -->
    <meta name="subject" content="{% block page_subject %}{% endblock page_subject %}">
    <meta name="description" content="{% block page_description %}{% endblock page_description %}">
    <meta name="keywords" content="{% block page_keywords %}{% endblock page_keywords %}" />
    <!-- open graph tags -->
    <meta property="og:url" content="https://amatna.net/{% block page_og_url %}{% endblock page_og_url %}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% block page_og_title %}{% endblock page_og_title %}| {% trans 'Amatna : DO NOT pay your time for searching restaurant' %}">
    <meta property="og:description" content="{% block page_og_description %}{% endblock page_og_description %}">
    <meta property="og:image" content="https://amatna-storages.s3.amazonaws.com/{% block page_og_image %}{% endblock page_og_image %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
    <script data-ad-client="ca-pub-3931834768948104" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c001f17070137e4c906ca0e5f71f88b5"></script>
    <title>{% block page_title %}{% endblock page_title %}| {% trans 'Amatna : DO NOT pay your time for searching restaurant' %}</title>
  </head>
  <body class="text-gray-800 mt-24 font-light">
    <amp-auto-ads type="adsense"
      data-ad-client="ca-pub-3931834768948104">
    </amp-auto-ads>
    
    {% include 'partials/messages.html' %}
     
    <header class="container max-w-full inset-0 flex items-center justify-between px-6 h-16 sm:h-20 border-b border-gray-400 fixed bg-white">
      <div class="flex items-center w-2/3">
        <a href="{% url 'core:home' %}" class="mr-6">
            <img class=" w-16 sm:w-24" src="{% static 'img/logo.png'%}">
        </a>
        <div class="hidden sm:block w-1/2">
          {% include "partials/search_bar.html" %}          
        </div>
      </div>         

      {% include "partials/nav.html" %}
    </header>

    {% block content %}
    {% endblock content %} 
    
    {% include "partials/footer.html" %}

  </body>


</html>


