{% extends 'base.html' %}
{% load i18n static %}
{% block page_title %}{% trans 'Login' %}{% endblock page_title %}
{% block page_subject %}아!맛나의 로그인 페이지 입니다.{% endblock page_subject %}
{% block page_keywords %}이태원맛집,홍대맛집,강남역맛집,가로수길맛집,신촌맛집,명동맛집,대학로맛집,연남동맛집,부산맛집,합정맛집,대구맛집,여의도맛집,건대맛집,광화문맛집,일산맛집,제주맛집,경리단길맛집,한남동맛집,삼청동맛집,대전맛집,종로맛집,서촌맛집,
잠실맛집,사당역맛집,인천맛집,코엑스맛집,상수맛집,서래마을맛집,송도맛집,왕십리맛집,분당맛집,혜화맛집,고속터미널맛집,맛집지도,TV맛집,맛집{% endblock page_keywords %}    
{% block page_og_url %}users/login/{% endblock page_og_url %}
{% block page_og_title %}{% trans 'Login' %} {% endblock page_og_title %}
{% block page_og_description %}TV 방영 맛집, 먹방 또는 맛집탐방 크리에이터가 다녀온 음식점들을 모아 맛집 지도를 만들어 드리는 아!맛나. 댓글 알바, 맛집 광고 nono! 크리에이터의 생생한 영상으로 맛집을 찾아보세요.{% endblock page_og_description %}
{% block page_og_image %}static/img/logo_square.png{% endblock page_og_image %}


{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container xl:w-1/3 lg:w-5/12 md:w-8/12 w-11/12 min-h-75vh mx-auto my-10 flex flex-col items-center p-6 b-20">

            <img src="{% static 'img/logo.png' %}" class="w-32 pt-8">
            <div class="article_description font-normal mt-10 mb-5 ml-0 text-red-600">{% trans '"The restaurant on my favorite Korean TV show."' %}</div>
            <div class="article_description font-normal mb-5 ml-0 text-red-600">{% trans '"The restaurant that my favorite Korean creator went to."' %}</div>
            <div class="article_description font-normal mb-5 ml-0">{% trans 'If you log in, you can save the restaurant you want to go to.' %}</div>
            <div class="article_description font-normal mb-10 ml-0">{% trans 'Gather the restaurants you want to go to on amatna' %}</div>

        {% include 'partials/social_login.html' %}


        {% include 'mixins/auth/auth_form.html' with form=form cta="로그인" %}

        <div class="mt-5">
            <span class="mr-3">{% trans 'Do not have an account?' %}</span>
            <a href="{% url 'users:signup' %}" class="font-medium text-teal-600">{% trans 'Sign up' %}</a>
        </div>        

    </div>


{% endblock content %}