{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}

    {% trans 'Modify profile' %}

{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="min-h-75vh">

        <div class="container px-6 w-11/12 lg:w-1/3 md:w-2/5 container mx-auto my-10 flex flex-col rounded-xl shadow-xl items-center border p-10 b-20 border-gray-100">
    
            {% include 'mixins/auth/auth_form.html' with form=form cta="프로필 수정" %}
    
            {% if object.login_method == "email" %}
                <div class="mt-5">
                    <a href="{% url 'users:password' %}" class="font-medium text-teal-600">{% trans 'Change password' %}</a>
                </div>        
            {% endif %}

        </div>
    </div>

{% endblock content %} 